*{
  box-sizing: border-box;
}
body{
  display: flex;
  font-family: 'Cabin', sans-serif;
    background-color: #fff199;
background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
   justify-content: center;
}

h1{
  font-family: 'Mystery Quest', cursive;
  margin-top: 0;
  font-size: 200%;
  padding-left: 5px;

}
p{
  font-family: 'Montez', cursive;
   font-size: 150%;
}

header{
    background-color: peru;
}

.container{
  display: flex;
  flex-direction: column;

}

.imagenes{
  width: 650px;
  height: auto;
  padding: 15px;
 
}

.imagenes img{
  width: 150px;
  height: 150px;
  border: solid;
  border-color: peru;
}

.instrucciones{
  padding-right: 30px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: center;
    padding: 15px;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }


div img{
  cursor: pointer;
}

input{
  display:inline-block;
  order: 2;
  /*order: 2;*/
}

div #jugador{
   display: inline-flex;  
   order:1;   
}
.same {
  
}

